/Game/Build
/Game/Assets/Plugins

/Game/Build
/Game/Assets/Rotorz
/Game/Build
/Game/Assets/cInput
/Game/Build
/Game/Assets/AssetStore
/Game/packages/
Resources/FBX_Files/Hero/Black_Blue/.mayaSwatches/Chest.jpg.swatch
